@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
body {
  background-color: #3498db;
  font-family: Raleway, san-serif;
}

.quote-container {
  background-color: #fff;
  /* opa; */
  box-shadow: 2px 2px 3px #34ace0;
}
.btn {
  background-color: #3498db;
  color: #fff;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.quote-author {
  text-align: right;
}
.fa-quote-left {
  padding: 5px;
  opacity: 0.5;
  color: #3498db;
}
